<h2>Cars claimed by <%= "#{@user.first_name} #{@user.last_name}" %> </h2>

<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
  </tr>

  <% @my_cars.each do |car| %>
    <tr id="<%= dom_id(car) %>">
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td><%= number_to_currency(car.price) %></td>
    </tr>
  <% end %>
</table>
