<p><%= notice %></p>

<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
  </tr>

  <% @cars.each do |car| %>
    <tr id="<%= dom_id(car) %>">
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td><%= number_to_currency(car.price) %></td>
      <td><%= link_to('Edit', edit_car_path(car))%></td>
      <td><%= link_to('Claim', claim_car_path(car))%></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Car', new_car_path %>


